# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List some Data Science tools
- Perform simple arithmetic expressions

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Julia
4. C++
5. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. ggplot

| Data Science Tools | 
| -------------|
| Jupyter Notebook |
| Spyder |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60

200//60

3

## Author
Daniel Jim√©nez